[Desktop Entry]
Name=Translator
Name[ru]=Переводчик
Name[es]=Traductor
Name[nl]=Vertaler
Name[fr]=Traducteur
GenericName=Translator App
Comment=Language translator
Categories=GTK;Utility;Languages;Translation;
Exec=com.github.rapidfingers.translator
Icon=com.github.rapidfingers.translator
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=translator
X-GNOME-Keywords=Translator;
